/*修改一级导航点击高亮字体*/

.current{
  color: #e60012!important;
  font-size: 1.6rem!important;
}



/* html,body 3D变换的样式*/

.html{
  overflow: hidden;
}

.body {
  perspective: 600px;
  -webkit-perspective: 600px;
  overflow: hidden;
}

/*最大的内容容器块*/

.container {
  position: relative;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  overflow: hidden;
  max-width: 600px;
  margin: 61px auto 0 auto;
  left:0%;
  padding:0 1.2rem;
}

div.go_contain {
  left: 70%;
  transform: rotateY(-6deg);
  -webkit-transform: rotateY(-6deg);
  /*background-color:rgba(255,255,255,0.3)*/
}

div.go_aside {
  left: 0!important;
  opacity: 1!important;
}

div.go_shadow {
  z-index: 1000!important;
  opacity: 0.3!important;
}


/*已订阅*/

.has_order {
  right: auto !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  color: #999 !important;
  width: 100%;
}


/*无订阅块*/

p.no-data {
  font-size: 1.2rem;
  color: #999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: none;
}

.line {
  height: 1px;
  background: #e8e8e8;
  margin: 1.5rem 0;
}

/*说明块样式*/
/*p {*/
  /*font-size: 1rem;*/
  /*color: #999;*/
  /*margin-top: 10px;*/
/*}*/


.noscroll {
  overflow: hidden;
}

.scroller1 {
  /*transition-timing-function:cubic-bezier(0.1, 0.57, 0.1, 1);*/
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 600ms;
  -webkit-transition-duration: 600ms;
  transition-property: all;
  -webkit-transition-property: all;
}

.scroller2 {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 600ms;
  -webkit-transition-duration: 600ms;
  transition-property: all;
  -webkit-transition-property: all;
}
