<!--侧边栏-->
<div class="aside" [ngClass]="{'go_aside':asideActive}" [ngStyle]="asideStyle">
  <div class="login_head">
    <a href="javascript:;"><img src="../assets/img/login.png" alt="" (click)="goLoginList()"></a>
    <span (click)="goLoginList()"><a href="javascript:;">点击登录</a></span>
  </div>
  <ul>
    <div *ngFor="let x of asideData;let i = index">
      <a href="javascript:;" [routerLink]="x.url" (click)="asideClick(i)">
        <li>
          <img [src]="x.src" alt="">
          <span>{{x.name}}</span>
        </li>
      </a>
      <div class="line"></div>
    </div>
  </ul>
</div>

<!--退出shadow-->
<Shadow [title]="quitTitle" [fn]="quitFn"></Shadow>

<!--主要内容-->
<div class="container" [ngClass]="{'go_contain':asideActive}" style="margin:0 auto">

  <!--阴影块-->
  <div class="contain_shadow" [ngClass]="{'go_shadow':asideActive}" (click)="showAside()"></div>

  <!--一级导航-->
  <div class="header_contain">
    <header class="media_header">
      <a href="javascript:;" (click)="showAside()"><img src="../assets/img/nav.png" alt="" ></a>
      <div class="media_header_info" id="wrapper">
        <ul id="scroller">
          <li *ngFor="let x of data;let id = index" (click)="firstClick(id)">
            <a href="javascript:;"  [ngClass]="{'current': activeIndex == id}">{{x.name}}</a>
          </li>
        </ul>
      </div>
    </header>
  </div>

  <!--二级导航-->
  <div class="search_contain">
    <div class="media_search" (click)="goRecommendSearch()">
      <div></div>
      <img src="../assets/img/search.png" alt="">
      <span>&nbsp;搜索</span>
    </div>
  </div>

  <!--内容块-->
  <section class="media_info">
    <div class="main-data" *ngFor="let x of mainData">
      <div class="main-cell" *ngFor="let y of x.list;let i = index">
        <div *ngIf="i != 3">
          <Recommend [data]="y" #smallCell></Recommend>
        </div>
        <div *ngIf="i == 3">
          <BigRecommend [data]="y" #bigCell></BigRecommend>
        </div>
      </div>
    </div>
  </section>
</div>
