<div class="container">
  <!--一级导航-->
  <div class="header_contain">
    <header class="media_header">
      <a href="javascript:;"><img src="../assets/img/nav.png" alt="" ></a>
      <div class="media_header_info" id="wrapper">
        <ul id="scroller">
          <li *ngFor="let x of data;let id = index" (click)="firstClick(id)">
            <a href="javascript:;"  [ngClass]="{'current': activeIndex == id}">{{x}}</a>
          </li>
        </ul>
      </div>
    </header>
  </div>

  <!--二级导航-->
  <div class="search_contain">
    <div class="media_search">
      <div></div>
      <img src="../assets/img/search.png" alt="">
      <span>&nbsp;搜索</span>
    </div>
  </div>

  <!--主要内容-->
  <section class="media_info">
    <div class="main-data" *ngFor="let x of mainData">
      <div class="main-cell" *ngFor="let y of x.list;let i = index">
        <div *ngIf="i != 3">
          <Recommend [data]="y" #smallCell></Recommend>
        </div>
        <div *ngIf="i == 3">
          <BigRecommend [data]="y" #bigCell></BigRecommend>
        </div>
      </div>
    </div>
  </section>
</div>
