<section class="main">
  <p class="main_title">{{showData['title']}}</p>
  <!--订阅块-->
  <div class="main_order main_sp">
    <a href="javascript:;"><img src="../assets/img/order.png" alt=""></a>
    <div class="main_order_info">
      <p><a href="javascript:;">{{showData['author']}}</a></p>
      <p>{{showData['time']}}</p>
    </div>
    <OrderCell [orderActive]="showData['isOrder']"></OrderCell>
  </div>
  <div class="line"></div>
  <!--电影块-->
  <div class="movie" [hidden]="!showData['isMovie']">
    <video src="../assets/video/go.mp4"  id="video" ></video>
    <img src="../assets/img/movie.jpg" alt="">
    <a href="javascript:;">
      <div class="media_info_movie">
        <span></span>
      </div>
    </a>
    <div class="line"></div>
  </div>
  <!--文章块-->
  <div [hidden]="showData['isMovie']">
    <div class="main_info">
      <div *ngFor="let x of showData['infoData'];let i = index">
        <p [hidden]="!x.info">{{x.info}}</p>
        <div class="main_info_img" [hidden]="!x.src">
          <img [src]="x.src" alt="">
        </div>
      </div>
    </div>
    <p class="read_all">
      <a href="javascript:;">阅读原文</a>
    </p>
  </div>

  <div class="main_share">
    <ul>
      <span>分享:</span>
      <li><a href="javascript:;"><img src="../assets/img/share_friend.png" alt=""></a></li>
      <li><a href="javascript:;"><img src="../assets/img/share_friend.png" alt=""></a></li>
      <li><a href="javascript:;"><img src="../assets/img/share_qq.png" alt=""></a></li>
      <li><a href="javascript:;"><img src="../assets/img/share_wechat.png" alt=""></a></li>
      <li><a href="javascript:;"><img src="../assets/img/share_weibo.png" alt=""></a></li>
      <li><a href="javascript:;"><img src="../assets/img/share_zone.png" alt=""></a></li>
    </ul>
  </div>
  <div class="line"></div>
  <p class="same_read">
    相关阅读
  </p>

  <Recommend [data]="x" *ngFor="let x of recommendData;let i = index"></Recommend>

  <p class="same_read">
    热门评论
  </p>
  <div class="container" style="margin:0">
    <Comment [data]="x" *ngFor="let x of mainData;let i = index"></Comment>
  </div>

  <!-- <div class="loading">
      <p>加载中...</p>
  </div> -->
</section>
