<div class="media_info_big"  [ngClass]="{'have_movie': data.isMovie}">
  <p (click)="jump()"><a href="javascript:;">{{data.title}}</a></p>
  <a href="javascript:;" class="movie"><img src="../assets/img/b1.jpg" alt="" (click)="jump()">
    <div class="media_info_movie">
      <span></span>
    </div>
  </a>
  <div class="media_info_icon">
    <div class="media_info_eyes">
      <img src="../assets/img/eyes.png" alt="">
      <span>{{data.eye_num}}</span>
    </div>
    <div class="media_info_msg">
      <img src="../assets/img/msg.png" alt="">
      <span>{{data.msg_num}}</span>
    </div>
    <p><a href="javascript:;">#{{data.author}}</a></p>
  </div>
</div>
<div class="line"></div>
