<div class="main_contain">
  <div class="main_order main_admin">
    <a href="javascript:;" (click)="goOrderShow()"><img src="../assets/img/order.png" alt=""></a>
    <div class="main_order_info">
      <p><a href="javascript:;" (click)="goOrderShow()">{{data.author}}</a></p>
      <p>{{data.time}}</p>
    </div>
    <div class="main_comment">
      <div class="main_comment_contain">
        <span *ngIf="length <= 5">{{renderData.length}}</span>
        <span *ngIf="length > 5">{{data.data.length}}</span>
        <img src="../assets/img/msg.png" alt="" (click)="writeMessage()">
      </div>
      <div class="main_comment_contain">
        <span>{{data.like_num}}</span>
        <img src="../assets/img/like.png" alt="" (click)="addLike()">
      </div>
    </div>
  </div>
  <div class="main_comment_msg">
    <div class="main_comment_owner">
      <p>{{data.title}}</p>
      <div [hidden]="renderData.length == 0">
        <div class="line"></div>
        <div class="main_comment_other" >
          <p *ngFor="let x of renderData;let i = index"><span class="main_comment_name"><a href="javascript:;" (click)="nameClick(x.name1)">{{x.name1}} </a></span><span *ngIf="x.name2">回复</span><span class="main_comment_name"><a href="javascript:;" (click)="nameClick(x.name2)"> {{x.name2}}:</a></span>{{x.info}}</p>
        </div>
        <p class="more" [hidden]="length <= 5" (click)="more()"><a href="javascript:;">展开更多回复</a></p>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
